{% ckan_extends %}

{% block extras %}
  {% if pkg_dict.collection_method %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Collection Method") }}</th>
      <td class="dataset-details">{{ pkg_dict.collection_method }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.excerpt %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Excerpt") }}</th>
      <td class="dataset-details">{{ pkg_dict.excerpt }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.information_url %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Information URL") }}</th>
      <td class="dataset-details">{{ pkg_dict.information_url }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.limitations %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Limitations") }}</th>
      <td class="dataset-details">{{ pkg_dict.limitations }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.published_date %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Published Date") }}</th>
      <td class="dataset-details">{{ pkg_dict.published_date }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.dataset_category %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Dataset Category") }}</th>
    <td class="dataset-details">{{ pkg_dict.dataset_category }}</td>
  </tr>
  {% endif %}
  {% if pkg_dict.pipeline_stage %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Pipeline Stage") }}</th>
    <td class="dataset-details">{{ pkg_dict.pipeline_stage }}</td>
  </tr>
  {% endif %}
  {% if pkg_dict.refresh_rate %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Refresh Rate") }}</th>
    <td class="dataset-details">{{ pkg_dict.refresh_rate }}</td>
  </tr>
  {% endif %}
  {% if pkg_dict.require_legal %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Require Legal Review") }}</th>
    <td class="dataset-details">{{ pkg_dict.require_legal }}</td>
  </tr>
  {% endif %}
  {% if pkg_dict.require_privacy %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Require Privacy Review") }}</th>
    <td class="dataset-details">{{ pkg_dict.require_privacy }}</td>
  </tr>
  {% endif %}
  {% if pkg_dict.approved_by %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Approved By") }}</th>
      <td class="dataset-details">{{ pkg_dict.approved_by }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.approved_date %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Approved Date") }}</th>
      <td class="dataset-details">{{ pkg_dict.approved_date }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.owner_type %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Owner Type") }}</th>
      <td class="dataset-details">{{ pkg_dict.owner_type }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.owner_division %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Owner Division") }}</th>
      <td class="dataset-details">{{ pkg_dict.owner_division }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.owner_section %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Owner Section") }}</th>
      <td class="dataset-details">{{ pkg_dict.owner_section }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.owner_unit %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Owner Unit") }}</th>
      <td class="dataset-details">{{ pkg_dict.owner_unit }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.owner_email %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Owner Email") }}</th>
      <td class="dataset-details">{{ pkg_dict.owner_email }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.explore_url %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Explore URL") }}</th>
      <td class="dataset-details">{{ pkg_dict.explore_url }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.image_url %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Image URL") }}</th>
      <td class="dataset-details">{{ pkg_dict.image_url }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.primary_resource %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Primary Resource") }}</th>
      <td class="dataset-details">{{ pkg_dict.primary_resource }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.resource_formats %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Resource Formats") }}</th>
      <td class="dataset-details">{{ pkg_dict.resource_formats }}</td>
    </tr>
  {% endif %}
{% endblock %}
