{% ckan_extends %}

{% block extras %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Package ID") }}</th>
    <td class="dataset-details">{{ pkg_dict.id }}</td>
  </tr>
  <tr>
    <th scope="row" class="dataset-label">{{ _("Package Name") }}</th>
    <td class="dataset-details">{{ pkg_dict.name }}</td>
  </tr>
  {% if pkg_dict.collection_method %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Collection Method") }}</th>
      <td class="dataset-details">{{ pkg_dict.collection_method }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.excerpt %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Excerpt") }}</th>
      <td class="dataset-details">{{ pkg_dict.excerpt }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.information_url %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Information URL") }}</th>
      <td class="dataset-details">{{ pkg_dict.information_url }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.limitations %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Limitations") }}</th>
      <td class="dataset-details">{{ pkg_dict.limitations }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.dataset_category %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Dataset Category") }}</th>
    <td class="dataset-details">{{ pkg_dict.dataset_category }}</td>
  </tr>
  {% endif %}
  {% if pkg_dict.is_retired %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Retired Dataset") }}</th>
    <td class="dataset-details">{{ pkg_dict.is_retired }}</td>
  </tr>
  {% endif %}
  {% if pkg_dict.refresh_rate %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Refresh Rate") }}</th>
    <td class="dataset-details">{{ pkg_dict.refresh_rate }}</td>
  </tr>
  {% endif %}
  {% if pkg_dict.topic %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Topic") }}</th>
    <td class="dataset-details">{{ pkg_dict.topic }}</td>
  </tr>
  {% endif %}
  {% if pkg_dict.owner_division %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Owner Division") }}</th>
      <td class="dataset-details">{{ pkg_dict.owner_division }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.owner_section %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Owner Section") }}</th>
      <td class="dataset-details">{{ pkg_dict.owner_section }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.owner_unit %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Owner Unit") }}</th>
      <td class="dataset-details">{{ pkg_dict.owner_unit }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.owner_email %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Owner Email") }}</th>
      <td class="dataset-details">{{ pkg_dict.owner_email }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.image_url %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Image URL") }}</th>
      <td class="dataset-details">{{ pkg_dict.image_url }}</td>
    </tr>
  {% endif %}
{% endblock %}
