{% ckan_extends %}

{% block package_basic_fields_custom %}
  <hr/>
  <h2 class="text-info">General Information</h2>

  <div class="form-group control-medium">
    <label class="control-label" for="field-dataset_category"><span class="text-danger">* </span>Dataset Category</label>
    <div class="controls">
      <select id="field-dataset_category" name="dataset_category" data-module="autocomplete">
        {% for dataset_category in h.show_tags('dataset_category', True) %}
          <option
            value="{{ dataset_category }}"

            {% if not data.get('dataset_category', '') is none dataset_category in data.get('dataset_category', '') %}
              selected="selected"
            {% endif %}>

            {{ dataset_category }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group control-medium">
    <label class="control-label" for="field-refresh_rate"><span class="text-danger">* </span>Refresh Rate</label>
    <div class="controls">
      <select id="field-refresh_rate" name="refresh_rate" data-module="autocomplete">
        {% for refresh_rate in h.show_tags('refresh_rate', True) %}
          <option
            value="{{ refresh_rate }}"

            {% if not data.get('refresh_rate', '') is none and refresh_rate in data.get('refresh_rate', '') %}
              selected="selected"
            {% endif %}>

            {{ refresh_rate }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group control-medium">
    <label class="control-label" for="field-is_retired"><span class="text-danger">* </span>Retired Dataset</label>
    <div class="controls">
      <select id="field-is_retired" name="is_retired" data-module="autocomplete">
        <option value="false" {% if data.get('is_retired', false) %}selected="selected"{% endif %}>False</option>
        <option value="true" {% if data.get('is_retired', false) %}selected="selected"{% endif %}>True</option>
      </select>
    </div>
  </div>

  <div class="form-group control-medium">
    <label class="control-label" for="field-collection_method">Collection Method</label>
    <div class="controls">
      <textarea id="field-collection_method" name="collection_method" cols="20" rows="5" placeholder="This dataset was collected by..." class="form-control">{{ data.get('collection_method', '') or '' }}</textarea>
    </div>
  </div>

  <div class="form-group control-medium">
    <label class="control-label" for="field-excerpt">Excerpt</label>
    <div class="controls"><textarea id="field-excerpt" name="excerpt" cols="20" rows="5" placeholder="A short blurb about the dataset..." class="form-control">{{ data.get('excerpt', '') or '' }}</textarea>
    </div>
  </div>

  <div class="form-group control-medium">
    <label class="control-label" for="field-limitations">Limitations</label>
    <div class="controls">
      <textarea id="field-limitations" name="limitations" cols="20" rows="5" placeholder="This dataset is missing values from..." class="form-control">{{ data.get('limitations', '') or '' }}</textarea>
    </div>
  </div>

  <hr/>

  <h2 class="text-info">Owner Information</h2>

  <div class="form-group control-medium">
    <label class="control-label" for="field-owner_division"><span class="text-danger">* </span>Owner Division</label>
    <div class="controls">
      <select id="field-refresh_rate" name="owner_division" data-module="autocomplete">
        {% for owner_division in h.show_tags('owner_division', True) %}
          <option
            value="{{ owner_division }}"

            {% if not data.get('owner_division') is none and owner_division in data.get('owner_division', '') %}
              selected="selected"
            {% endif %}>

            {{ owner_division }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

  {{ form.input('owner_section', label=_('Owner Section'), id='field-owner_section', placeholder=_('eg. Traffic Management Centre'), value=data.owner_section, error=errors.owner_section, classes=['control-medium']) }}

  {{ form.input('owner_unit', label=_('Owner Unit'), id='field-owner_unit', placeholder=_('eg. Traffic Safety Unit'), value=data.owner_unit, error=errors.owner_unit, classes=['control-medium']) }}

  {{ form.input('owner_email', label=_('Owner Email'), id='field-owner_email', placeholder=_('eg. opendata@toronto.ca'), value=data.owner_email, error=errors.owner_email, classes=['control-medium']) }}

  <hr/>

  <h2 class="text-info">WordPress Filters</h2>

  {% set civic_issues_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/tags_autocomplete?vocabulary_id=civic_issues&incomplete=?'} %}
  {{ form.input('civic_issues', id='field-civic_issues', label=_('Civic Issues'), placeholder=_('eg. Climate change'), value=data.civic_issues, error=errors.civic_issues, classes=['control-full'], attrs=civic_issues_attrs) }}

  {{ form.hidden('formats', value=data.formats) }}

  {% set topics_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/tags_autocomplete?vocabulary_id=topics&incomplete=?'} %}
  {{ form.input('topics', id='field-topics', label=_('Topics'), placeholder=_('eg. Water, City government'), value=data.topics, error=errors.topics, classes=['control-full'], attrs=topics_attrs) }}

  <hr/>

  <h2 class="text-info">Others</h2>

  {{ form.input('information_url', label=_('Information URL'), id='field-information_url', placeholder=_('eg. http://www.toronto.ca/rescu/index.htm'), value=data.information_url, error=errors.information_url, classes=['control-medium']) }}

  {{ form.input('image_url', label=_('Image URL'), id='field-image_url', placeholder=_('eg. /wp-content/image/1.png'), value=data.image_url, error=errors.image_url, classes=['control-medium']) }}

  <hr/>

  <h2 class="text-info">Built-In Fields</h2>

{% endblock %}
