{% ckan_extends %}

{% block basic_fields_url %}

  {{ super() }}

  {{ form.input('columns', label=_('Columns'), id='field-columns', placeholder=_('Columns'), value=data.columns, error=errors.columns, classes=['control-medium']) }}
  {{ form.input('rows', label=_('Rows'), id='field-rows', placeholder=_('Rows'), value=data.rows, error=errors.rows, classes=['control-medium']) }}
  {{ form.input('extract_job', label=_('Extract Job'), id='field-extract_job', placeholder=_('Extract Job'), value=data.extract_job, error=errors.extract_job, classes=['control-medium']) }}
  <div class="form-group control-medium">
    <label class="control-label" for="field-is_preview"><span class="text-danger">* </span>Preview</label>
    <div class="controls">
      <select id="field-is_preview" name="is_preview" data-module="autocomplete">
        <option value="false" {% if "false" in data.get('is_preview', []) %}selected="selected"{% endif %}>False</option>
        <option value="true" {% if "true" in data.get('is_preview', []) %}selected="selected"{% endif %}>True</option>
      </select>
    </div>
  </div>

{% endblock %}
