attrs==23.2.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
enum34==1.1.10
Fiona==1.9.5
geopandas==0.13.2
iotrans==0.0.4
munch==4.0.0
numpy==1.24.4
pandas==2.0.3
pyproj==3.5.0
python-dateutil==2.8.2
pytz==2024.1
requests==2.25.1
shapely==2.0.3
simplejson==3.10.0
six==1.16.0