{% block page %}
<style>
    body {
        background-color: white;
    }
    .container {
        background-color: white;
    }
    .row {
        background-color: #F5F5F5;
        border-radius: 3px
    }
    .media-grid {
        background-color: white;
        background: white;
        padding-top: 0px;
        border: none;
    }       
    .text-muted {
        font-size: medium;
        font-weight: bold;
    }
    svg:not(:root) {
        margin-top: 5px;
    }
    .gold {
        fill: #f0ad4e !important;
    }
    .silver {
        fill: #777777 !important;
    }
    .bronze {
        fill: #8a6d3b !important;
    }
    h5 {
        font-weight: normal;
        margin:0
    }

</style>

{% if h.get_dqs(package)|length == 0 %}
<ul class="media-grid">
    <div class="container">
        <div class="row">
            
            <li class="media-item" style="width:80%">
                This Data Quality Score has not yet been calculated
            </li>
            
        </div>
    </div>
</ul>
{% else %}
<ul class="media-grid">
    <div class="container">
        <div class="row">
            <br>
            {% for key, value in h.get_dqs(package).overall.items() %} 
            <li class="media-item" style="width:30%">
                {% if key == "last refreshed" %} 
                <h5><span class="media-heading">{{ key.capitalize() }}</span></h5>       
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-calendar4" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
                </svg>
                <span class="text-muted" style="top:50%; position:absolute">&nbsp{{ value }}</span>
                {% endif %}
                {% if key == "overall score" %} 
                <h5>
                    <span class="media-heading">{{ key.capitalize() }}</span>
                    <div class="dropdown btn-group">
                        <div data-toggle="dropdown">                      
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#31708f" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                            </svg>
                        </div>

                        <div class="dropdown-menu"  style="width:250px">
                            <ul>
                                <b>Weighting</b>
                                <li>Freshness: 35%</li>
                                <li>Metadata: 35%</li>
                                <li>Accessibility: 15%</li>
                                <li>Usability: 10%</li>
                                <li>Completeness: 5%</li>
                                Weights scale when dimensions are missing
                            </ul>                                        
                        </div>
                    </div>
                </h5>       
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-speedometer" viewBox="0 0 16 16">
                    <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                    <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
                </svg>
                <span class="text-muted" style="top:50%; position:absolute">&nbsp{{ value }}</span>
                {% endif %}
                {% if key == "grade" %} 
                <h5>
                    <span class="media-heading">{{ key.capitalize() }}</span>
                    <div class="dropdown btn-group">
                        <div data-toggle="dropdown">                      
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#31708f" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                            </svg>
                        </div>
                        <div class="dropdown-menu">
                            <ul>
                                <li>&lt;60%  is 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-trophy-fill bronze" viewBox="0 0 16 16">
                                        <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z"/>
                                    </svg>
                                </li>
                                <li>>=60% is 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-trophy-fill silver" viewBox="0 0 16 16">
                                        <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z"/>
                                    </svg>
                                </li>
                                <li>>=80% is 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-trophy-fill gold" viewBox="0 0 16 16">
                                        <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z"/>
                                    </svg>
                                </li>
                            </ul>                                        
                        </div>
                    </div>
                </h5>      
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-trophy-fill {{ value.lower() }}" viewBox="0 0 16 16">
                    <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z"/>
                </svg>
                <span class="text-muted" style="top:50%; position:absolute">&nbsp{{ value }}</span>
                
                
                {% endif %}
                
            </li>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="container">
    {% for key, value in h.get_dqs(package).dimensions.items() %}
        <div class="row"> 
            <br>               
            <li class="media-item" style="width:30%">
                <h5>
                    <span class="media-heading">{{ key.capitalize() }}</span>
                    <span class="text-muted">{{ value.score }}</span>

                    <div class="dropdown btn-group" style="float:right">
                        <div data-toggle="dropdown">                      
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#31708f" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                            </svg>
                        </div>
                        <div class="dropdown-menu" style="width:400px">
                            <ul>
                            {% for metric in value.metrics %}
                                
                            <li class="dropdown-item">
                                {{ metric }}
                            </li> 
                            {% endfor %} 
                            </ul>                                          
                        </div>
                    </div>
                </h5>
                  
                <p>{{ value.description }}</p> 
                                 
            </li>
            <li class="media-item" style="width:63%">
                {% if value.codes.values()|length < 1 %}
                <p>No known issues</p>
                {% endif %}
                {% if value.codes.values()|length > 0 %}
                <p>Known issues:</p>
                <ul>
                    {% for code, subcodes in value.codes.items() %}
                    {% if code|length > 0 %}
                    <li>{{ code }}</li>
                    {% if subcodes|length > 0 %}
                        <ul>
                        {% for subcode in subcodes %}
                        <li>{{ subcode }}</li>
                        {% endfor %}
                        </ul>
                        <br>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </li>                
        </div>
        <br>
        <!--<hr>-->
    {% endfor %}
    </div>
</ul>
{% endif %}

          

{% endblock %}