
{% block page %}
<style>
    body {
        background-color: white;
    }
    .container {
        background-color: white;
    }
    .media-grid {
        background-color: white;
    }
    .media-item {
        padding-bottom: 0;
    }
</style>
<ul class="media-grid">
    <div class="container">
        <div class="row">
            {% for key, value in h.get_dqs(resource_json, package).overall.items() %} 
            <li class="media-item" style="width:30%">
                <span class="media-heading">{{ key.capitalize() }}</span>
                <br>
                <span class="text-muted">{{ value }}</span>                
            </li>
            {% endfor %}
        </div>
    </div>
</ul>

<ul class="media-grid">
    <div class="container">
    {% for key, value in h.get_dqs(resource_json, package).dimensions.items() %}
        <div class="row">                
            <li class="media-item" style="width:30%">
                <span class="media-heading">{{ key.capitalize() }}</span>
                <span class="text-muted">{{ value.score }}</span>
                <p>{{ value.description }}</p>                    
            </li>
            <li class="media-item" style="width:65%">
                {% if value.codes.values()|length < 1 %}
                <p>No known issues</p>
                {% endif %}
                {% if value.codes.values()|length > 0 %}
                <p>Known issues:</p>
                <ul>
                    {% for code, subcodes in value.codes.items() %}
                    {% if code|length > 0 %}
                    <li>{{ code }}</li>
                    {% if subcodes|length > 0 %}
                        <ul>
                        {% for subcode in subcodes %}
                        <li>{{ subcode }}</li>
                        {% endfor %}
                        </ul>
                        <br>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </li>                
        </div>
        <hr>
    {% endfor %}
    </div>
</ul>
          

{% endblock %}