
{% block page %}
<style>
    body {
        background-color: white;
    }
</style>
    <ul class="media-grid">
        <div class="container">
        {% for key, value in h.get_dqs(resource_json, package).items() %}
            <div class="row">                
                <li class="media-item" style="width:30%">
                    <h2 class="media-heading">{{ key.capitalize() }}</h2>
                    <h4 class="text-muted">{{ value.score }}</h4>
                    <p><i>{{ value.description }}</i></p>
                </li>
                <li class="media-item" style="width:65%">
                    <h6>Known issues:</h6>
                    <ul>
                        {% for code, subcodes in value.codes.items() %}
                        {% if code|length > 0 %}
                        <li>{{ code }}</li>
                        {% if subcodes|length > 0 %}
                            <ul>
                            {% for subcode in subcodes %}
                            <li>{{ subcode }}</li>
                            {% endfor %}
                            </ul>
                            <br>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>                
            </div>
        {% endfor %}
        </div>
    </ul>
          

{% endblock %}