{% block catalog %}

<style>
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    table-layout: fixed;
    height: 500px
  }

  thead {
    background-color: darkslategrey;
    color: white;
    position: sticky;
    top: 0;
  }

</style>

<table class="table table-striped">
  <thead>
    <tr>
      {% for key, value in h.get_catalog().records[0].items() if key != "_id" %}
      <th scope = "col">{{ key.replace("_", " ").capitalize() }}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for item in h.get_catalog().records %}

      <tr>
        {% for key, value in item.items() if key != "_id" %}
        <td>{{ value }}</td>
        {% endfor %}
      </tr>

    {% endfor %}
  </tbody>

</table>
{% endblock %}