{% ckan_extends %}

{% block package_basic_fields_custom %}
  {{ form.input('collection_method', label=_('Collection Method'), id='field-collection_method', placeholder=_('Collection Method'), value=data.collection_method, error=errors.collection_method, classes=['control-medium']) }}
  {{ form.input('excerpt', label=_('Excerpt'), id='field-excerpt', placeholder=_('Excerpt'), value=data.excerpt, error=errors.excerpt, classes=['control-medium']) }}
  {{ form.input('limitations', label=_('Limitations'), id='field-limitations', placeholder=_('Limitations'), value=data.limitations, error=errors.limitations, classes=['control-medium']) }}
  {{ form.input('refresh_rate', label=_('Refresh Rate'), id='field-refresh_rate', placeholder=_('Refresh Rate'), value=data.refresh_rate, error=errors.refresh_rate, classes=['control-medium']) }}
  {{ form.input('information_url', label=_('More Info'), id='field-information_url', placeholder=_('More Info'), value=data.information_url, error=errors.information_url, classes=['control-medium']) }}
  {{ form.input('owner_type', label=_('Owner Type'), id='field-owner_type', placeholder=_('Owner Type'), value=data.owner_type, error=errors.owner_type, classes=['control-medium']) }}
  {{ form.input('owner_division', label=_('Owner Division'), id='field-owner_division', placeholder=_('Owner Division'), value=data.owner_division, error=errors.owner_division, classes=['control-medium']) }}
  {{ form.input('owner_section', label=_('Owner Section'), id='field-owner_section', placeholder=_('Owner Section'), value=data.owner_section, error=errors.owner_section, classes=['control-medium']) }}
  {{ form.input('owner_unit', label=_('Owner Unit'), id='field-owner_unit', placeholder=_('Owner Unit'), value=data.owner_unit, error=errors.owner_unit, classes=['control-medium']) }}
  {{ form.input('owner_email', label=_('Contact Email'), id='field-owner_email', placeholder=_('Contact Email'), value=data.owner_email, error=errors.owner_email, classes=['control-medium']) }}
  {{ form.input('image_url', label=_('Featured Image'), id='field-image_url', placeholder=_('Featured Image'), value=data.image_url, error=errors.image_url, classes=['control-medium']) }}
  {{ form.input('approved_by', label=_('Approver Name'), id='field-approved_by', placeholder=_('Approver Name'), value=data.approved_by, error=errors.approved_by, classes=['control-medium']) }}
  {{ form.input('source_type', label=_('Source Type'), id='field-source_type', placeholder=_('Source Type'), value=data.source_type, error=errors.source_type, classes=['control-medium']) }}
  {{ form.input('extraction_details', label=_('Extraction Details'), id='field-extraction_details', placeholder=_('Extraction Details'), value=data.extraction_details, error=errors.extraction_details, classes=['control-medium']) }}
  {{ form.input('pipeline_stage', label=_('Pipeline Stage'), id='field-pipeline_stage', placeholder=_('Pipeline Stage'), value=data.pipeline_stage, error=errors.pipeline_stage, classes=['control-medium']) }}
  {{ form.input('published_date', label=_('Published Date'), id='field-published_date', placeholder=_('Published Date'), value=data.published_date, error=errors.published_date, classes=['control-medium']) }}
  {{ form.input('dataset_category', label=_('Dataset Category'), id='field-dataset_category', placeholder=_('Dataset Category'), value=data.dataset_category, error=errors.dataset_category, classes=['control-medium']) }}
  {{ form.input('primary_resource', label=_('Primary Resource ID'), id='field-primary_resource', placeholder=_('Primary Resource ID'), value=data.primary_resource, error=errors.primary_resource, classes=['control-medium']) }}
  {{ form.input('preview_data', label=_('Preview Data'), id='field-preview_data', placeholder=_('Preview Data'), value=data.preview_data, error=errors.preview_data, classes=['control-medium']) }}

{% endblock %}
