{% ckan_extends %}

{% block package_basic_fields_custom %}

  <hr/>
  <h2>General Dataset Info</h2>
  {{ form.input('collection_method', label=_('Collection Method'), id='field-collection_method', placeholder=_('eg. This dataset was collected by...'), value=data.collection_method, error=errors.collection_method, classes=['control-medium']) }}
  <div class="form-group control-medium">
    <label class="control-label" for="field-excerpt">Dataset Excerpt<span class="text-danger">*</span></label>
    <div class="controls">
      <textarea id="field-excerpt" name="excerpt" cols="20" rows="5" placeholder="A short blurb about the dataset..." class="form-control">{{ data.get('excerpt', '') }}</textarea>
    </div>
  </div>
  {{ form.input('information_url', label=_('Information URL'), id='field-information_url', placeholder=_('eg. http://www.toronto.ca/rescu/index.htm'), value=data.information_url, error=errors.information_url, classes=['control-medium']) }}
  {{ form.input('limitations', label=_('Limitations'), id='field-limitations', placeholder=_('eg. This dataset is missing values from...'), value=data.limitations, error=errors.limitations, classes=['control-medium']) }}
  {{ form.input('published_date', label=_('Published Date'), id='field-published_date', placeholder=_('Format: YYYY-MM-DD'), value=data.published_date, error=errors.published_date, classes=['control-medium']) }}
  <div class="form-group control-medium">
    <label class="control-label" for="field-dataset_category">Dataset Category<span class="text-danger">*</span></label>
    <div class="controls">
      <select id="field-dataset_category" name="dataset_category" data-module="autocomplete">
        {% for dataset_category in ['Tabular', 'Geospatial', 'Object']  %}
          <option value="{{ dataset_category }}" {% if dataset_category in data.get('dataset_category', []) %}selected="selected"{% endif %}>{{ dataset_category }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group control-medium">
    <label class="control-label" for="field-pipeline_stage">Pipeline Stage<span class="text-danger">*</span></label>
    <div class="controls">
      <select id="field-pipeline_stage" name="pipeline_stage" data-module="autocomplete">
        {% for pipeline_stage in ['Identification', 'Initiation', 'Preparation', 'Assessment', 'Validation', 'Publication']  %}
        <option value="{{ pipeline_stage }}" {% if pipeline_stage in data.get('pipeline_stage', []) %}selected="selected"{% endif %}>{{ pipeline_stage }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group control-medium">
    <label class="control-label" for="field-refresh_rate">Refresh Rate<span class="text-danger">*</span></label>
    <div class="controls">
      <select id="field-refresh_rate" name="refresh_rate" data-module="autocomplete">
        {% for refresh_rate in ['', 'Real-time', 'Daily', 'Weekly', 'Monthly', 'Quarterly', 'Semi-annually', 'Annually', 'As available']  %}
          <option value="{{ refresh_rate }}" {% if refresh_rate in data.get('refresh_rate', []) %}selected="selected"{% endif %}>{{ refresh_rate }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {{ form.input('require_legal', label=_('Require Legal Review'), id='field-require_legal', placeholder=_('Require Legal Review'), value=data.require_legal, error=errors.require_legal, classes=['control-medium']) }}
  {{ form.input('require_privacy', label=_('Require Privacy Review'), id='field-require_privacy', placeholder=_('Require Privacy Review'), value=data.require_privacy, error=errors.require_privacy, classes=['control-medium']) }}
  <hr/>
  <h2>Dataset Owner Info</h2>
  <div class="form-group control-medium">
    <label class="control-label" for="field-owner_type">Owner Type*</label>
    <div class="controls">
      <select id="field-owner_type" name="owner_type" data-module="autocomplete">
        {% for owner_type in ['Official', 'Community']  %}
        <option value="{{ owner_type }}" {% if owner_type in data.get('owner_type', []) %}selected="selected"{% endif %}>{{ owner_type }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {{ form.input('approved_by', label=_('Approver Name'), id='field-approved_by', placeholder=_('eg. John Smith'), value=data.approved_by, error=errors.approved_by, classes=['control-medium']) }}
  {{ form.input('approved_date', label=_('Approved Date'), id='field-approved_date', placeholder=_('Format: YYYY-MM-DD'), value=data.approved_date, error=errors.approved_date, classes=['control-medium']) }}
  {{ form.input('owner_division', label=_('Owner Division'), id='field-owner_division', placeholder=_('eg. Transportation Services'), value=data.owner_division, error=errors.owner_division, classes=['control-medium']) }}
  {{ form.input('owner_section', label=_('Owner Section'), id='field-owner_section', placeholder=_('eg. Traffic Management Centre'), value=data.owner_section, error=errors.owner_section, classes=['control-medium']) }}
  {{ form.input('owner_unit', label=_('Owner Unit'), id='field-owner_unit', placeholder=_('eg. Traffic Safety Unit'), value=data.owner_unit, error=errors.owner_unit, classes=['control-medium']) }}
  {{ form.input('owner_email', label=_('Owner Email'), id='field-owner_email', placeholder=_('eg. opendata@toronto.ca'), value=data.owner_email, error=errors.owner_email, classes=['control-medium']) }}
  <hr/>
  <h2>Internal CKAN/WP Fields</h2>
  {{ form.input('image_url', label=_('Image URL'), id='field-image_url', placeholder=_('Blank'), value=data.image_url, error=errors.image_url, classes=['control-medium']) }}
  {{ form.input('primary_resource', label=_('Primary Resource ID'), id='field-primary_resource', placeholder=_('Blank'), value=data.primary_resource, error=errors.primary_resource, classes=['control-medium']) }}
  <hr/>
  <h2>Default CKAN Fields</h2>

{% endblock %}
