{% ckan_extends %}

{% block basic_fields_url %}
{{ super() }}

{{ form.input('extract_job_id', label=_('Extract Job ID'), id='field-extract_job_id', placeholder=_('Extract Job ID'), value=data.extract_job_id, error=errors.extract_job_id, classes=['control-medium']) }}
{{ form.input('file_type', label=_('File Type'), id='field-file_type', placeholder=_('File Type'), value=data.file_type, error=errors.file_type, classes=['control-medium']) }}
{{ form.input('shape', label=_('Data Shape'), id='field-shape', placeholder=_('Data Shape'), value=data.shape, error=errors.shape, classes=['control-medium']) }}
{{ form.input('explore_url', label=_('Explore URL'), id='field-explore_url', placeholder=_('Explore URL'), value=data.explore_url, error=errors.explore_url, classes=['control-medium']) }}
{% endblock %}
